body {
    margin-top: 75px;
    background-image: url("../img/pattern.jpg") !important;
}
#contents {
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin : 10px 0;
}
article {
    padding: 30px 20px;
    border-bottom: 3px solid grey;
}
footer {
    background-color: black;
    color: white;
    text-align: center;
    padding : 5px 0;
}